.section--build {
  width: 100%;
  max-width: 1440px;
  margin: 300px auto 0;
  margin-bottom: 130px;
  overflow: hidden;

  @include lg {
    display: none;
  }
  @include md {
    display: none;
  }
  @include sm {
    display: none;
  }
  @include sm-1 {
    display: none;
  }
}

.build {
  position: relative;

  margin-right: 48px;

  background: url("../../dist/assets/images/Building/build.png") no-repeat;
  background-position: -76% -46%;

  @include flexbox;
  @include xl {
    margin-right: 10px;

    background-position: -160% -46%;
  }
}

.build__content {
  position: relative;
  left: -157px;

  width: 936px;
  height: 637px;

  background-position: 157px;
}

.build__diagram {
  position: relative;

  width: 637px;
  height: 637px;

  background-color: transparent;
  border-top: 1px solid $text-color--main;
  border-right: 3px solid $text-color--main;
  border-bottom: 1px solid $text-color--main;
  border-radius: 100%;
}

.build__item {
  align-items: center;

  @include flexbox;
  &:nth-child(1) {
    position: absolute;
    top: 62px;
    left: 511px;

    height: 46px;

    background-color: $text-color--light;
  }

  &:nth-child(2) {
    position: absolute;
    top: 173px;
    left: 587px;

    height: 57px;

    background-color: $text-color--light;
  }

  &:nth-child(3) {
    position: absolute;
    top: 334px;
    left: 612px;

    height: 66px;

    background-color: $text-color--light;
  }
  &:nth-child(4) {
    position: absolute;
    top: 464px;
    left: 547px;

    height: 86px;

    background-color: transparent;
  }
}
.build__num--count {
  width: 46px;
  height: 68px;
  margin-top: 20px;

  background-color: $text-color--light;
}

.build__num {
  display: inline-block;
  width: 42px;
  height: 42px;
  padding-top: 11px;

  font-size: 18px;
  font-family: $font-family-5;
  text-align: center;
  color: $text-color--light;

  background-color: $text-color--main;
  border-radius: 50%;
}

.build__text {
  display: inline-block;
  width: 364px;
  margin-left: 17px;

  font-size: 18px;
  font-family: $font-family-3;
  color: $text-color--darken;
}

.build__form-call {
  z-index: 1;

  width: 514px;
  height: 517px;
  margin-top: 110px;
  margin-left: 40px;

  background: $primary-color;

  @include xl {
    width: 487px;
    height: 488px;
    margin-top: 130px;
  }
}

.build__form-title {
  padding-top: 20px;

  font-size: 20px;
  line-height: 25px;
  font-family: $font-family-1;
  text-align: center;
  color: $text-color--light;

  @include font;
}

.build__form {
  flex-direction: column;

  @include flexbox;
}

.form-col {
  flex-direction: column;
  width: 408px;
  margin-top: 39px;
  margin-left: 60px;

  @include flexbox;

  input {
    background-color: $primary-color;
    border: 1px solid $text-color--dark-label;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  label {
    margin-bottom: 7px;

    font-size: 15px;
    line-height: 21px;
    font-family: $font-family-2;
    color: $text-color--dark-transparent;

    @include font;
  }

  ::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-2;
    color: $text-color--light;

    @include font;
  }

  ::-moz-placeholder {
    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-2;
    color: $text-color--light;

    @include font;
  }

  :-moz-placeholder {
    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-2;
    color: $text-color--light;

    @include font;
  }
}

.build__form--checkbox {
  margin-top: 20px;
  margin-bottom: 39px;
  margin-left: 60px;

  font-size: 16px;
  line-height: 22px;
  font-family: $font-family-2;
  color: $text-color--light;

  @include font;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label:before {
    content: "\2713";

    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -5px 5px 0 0;

    vertical-align: middle;
    text-align: center;
    color: transparent;

    background: $text-color--main;
    border: none;

    transition: color ease 0.3s;
  }

  input[type="checkbox"]:checked + label:before {
    color: $text-color--light;
  }
}

.build__cost {
  margin-top: 24px;
  margin-left: 60px;

  @include flexbox;

  p {
    margin-top: 21px;

    font-size: 20px;
    line-height: 25px;
    font-family: $font-family-1;
    color: $text-color--main;

    @include font;
  }
}
