.section--build {
  width: 100%;
  margin: 0 auto;
}

.build__content {
  flex-direction: column;

  @include flexbox;
}

.build__item {
  z-index: 10;

  overflow: hidden;

  @include flexbox;
}

.build__text {
  align-items: center;

  font-size: 18px;
  line-height: 21px;
  font-family: $font-family-3;
  color: $text-color--darken;

  @include font;
  @include flexbox;
}

.build {
  position: relative;

  background: url("../../dist/assets/images/Building/build.png") no-repeat;
  background-position: -72% -12%;

  @include flexbox;
}

.build__content:after {
  content: "";
  position: absolute;
  top: 42px;
  left: -178px;
  z-index: 1;

  width: 636px;
  height: 636px;

  border-right: 2px solid $text-color--main;
  border-bottom: 2px solid $text-color--main;
  -moz-border-radius: 50%;
       border-radius: 50%;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.build__text-number {
  width: 42px;
  height: 42px;
  margin-right: 12px;
  padding-left: 10px;

  line-height: 40px;
  font-family: $font-family-5;
  text-align: center;
  color: $text-color--light;

  background-color: $text-color--main;
  border-radius: 50%;

  @include font;
}

.build__text--one {
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: 326px;
}

.build__text--two {
  margin-bottom: 119px;
  margin-left: 408px;
}

.build__text--three {
  margin-bottom: 117px;
  margin-left: 433px;
}

.build__text--four {
  margin-bottom: 22px;
  margin-left: 365px;
}

.build__form-call {
  width: 514px;
  height: 517px;
  margin-top: 110px;
  margin-left: 40px;

  background: $primary-color;
}

.build__form-title {
  padding-top: 20px;

  font-size: 20px;
  line-height: 25px;
  font-family: $font-family-1;
  text-align: center;
  color: $text-color--light;

  @include font;
}

.build__form {
  flex-direction: column;

  @include flexbox;
}

.form-col {
  flex-direction: column;
  width: 408px;
  margin-top: 39px;
  margin-left: 60px;

  @include flexbox;

  input {
    background-color: $primary-color;
    border: 1px solid $text-color--dark-label;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  label {
    margin-bottom: 7px;

    font-size: 15px;
    line-height: 21px;
    font-family: $font-family-2;
    color: $text-color--dark-transparent;

    @include font;
  }

  ::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-2;
    color: $text-color--light;

    @include font;
  }

  ::-moz-placeholder {
    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-2;
    color: $text-color--light;

    @include font;
  }

  :-moz-placeholder {
    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-2;
    color: $text-color--light;

    @include font;
  }
}

.build__form--checkbox {
  margin-top: 20px;
  margin-bottom: 39px;
  margin-left: 60px;

  font-size: 16px;
  line-height: 22px;
  font-family: $font-family-2;
  color: $text-color--light;

  @include font;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label:before {
    content: "\2713";

    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -5px 5px 0 0;

    vertical-align: middle;
    text-align: center;
    color: transparent;

    background: $text-color--main;
    border: none;

    transition: color ease 0.3s;
  }

  input[type="checkbox"]:checked + label:before {
    color: $text-color--light;
  }
}

.build__cost {
  margin-top: 24px;
  margin-left: 60px;

  @include flexbox;

  p {
    margin-top: 21px;

    font-size: 20px;
    line-height: 25px;
    font-family: $font-family-1;
    color: $text-color--main;

    @include font;
  }
}
