.section--build {
  width: 100%;
  margin: 0 auto;
}

.build__content {
  display: flex;
  flex-direction: column;
}

.build__item {
  z-index: 10;

  display: flex;
  overflow: hidden;
}

.build__text {
  display: flex;
  align-items: center;

  font-size: 18px;
  line-height: 21px;
  font-family: $font-family-3;
  color: $primary-text-color;
}

.build {
  position: relative;

  display: flex;

  background: url("../../dist/assets/images/Building/build.png") no-repeat;
  background-position: -72% -12%;
}

.build__content:after {
  content: "";
  position: absolute;
  top: 42px;
  left: -178px;
  z-index: 1;

  width: 636px;
  height: 636px;

  border-right: 2px solid $secondary-text-color;
  border-bottom: 2px solid $secondary-text-color;
  -moz-border-radius: 50%;
       border-radius: 50%;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.build__text-number {
  width: 42px;
  height: 42px;
  margin-right: 12px;
  padding-left: 10px;

  line-height: 40px;
  font-family: $font-family-5;
  text-align: center;
  color: $white-text-color;

  background-color: $secondary-text-color;
  border-radius: 50%;
}

.build__text--one {
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: 326px;
}

.build__text--two {
  margin-bottom: 119px;
  margin-left: 408px;
}

.build__text--three {
  margin-bottom: 117px;
  margin-left: 433px;
}

.build__text--four {
  margin-bottom: 22px;
  margin-left: 365px;
}

.build__form-call {
  width: 514px;
  height: 517px;
  margin-top: 110px;
  margin-left: 40px;

  background: $primary-color;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
}

.build__form-title {
  padding-top: 20px;

  font-size: 20px;
  line-height: 25px;
  font-family: $font-family-1;
  text-align: center;
  color: $white-text-color;
}

.build__form {
  display: flex;
  flex-direction: column;
}

.form-col {
  display: flex;
  flex-direction: column;
  width: 408px;
  margin-top: 39px;
  margin-left: 60px;

  input {
    background-color: $primary-color;
    border: 1px solid rgba(54, 54, 54, 0.5);
    border-top: none;
    border-right: none;
    border-left: none;
  }

  label {
    margin-bottom: 7px;

    font-size: 15px;
    line-height: 21px;
    font-family: $font-family-2;
    color: rgba(255, 255, 255, 0.5);
  }

  ::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-2;
    color: $white-text-color;
  }

  ::-moz-placeholder {
    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-2;
    color: $white-text-color;
  }

  /* Firefox 19+ */
  :-moz-placeholder {
    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-2;
    color: $white-text-color;
  }
}

.build__form--checkbox {
  margin-top: 20px;
  margin-bottom: 39px;
  margin-left: 60px;

  font-size: 16px;
  line-height: 22px;
  font-family: $font-family-2;
  color: $white-text-color;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label:before {
    content: "\2713";

    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -5px 5px 0 0;

    vertical-align: middle;
    text-align: center;
    color: transparent;

    background: $secondary-text-color;
    border: none;

    transition: color ease 0.3s;
  }

  input[type="checkbox"]:checked + label:before {
    color: #ffffff;
  }
}

.build__cost {
  display: flex;
  margin-top: 24px;
  margin-left: 60px;

  p {
    margin-top: 21px;

    font-size: 20px;
    line-height: 25px;
    font-family: $font-family-1;
    color: $secondary-text-color;
    color: #e3b873;
    text-shadow: 0 3px 10px rgba(227, 184, 115, 0.15);
  }
}
