.section--project {
  justify-content: space-between;

  @include flexbox;
}

.project {
  flex-direction: column;
  width: 30%;
  margin-top: 128px;
  margin-left: 108px;

  @include flexbox;
  @include lg {
    margin-left: 50px;
  }
  @include md {
    align-items: center;
    width: 100%;
    margin-top: 50px;
  }
  @include lg {
    margin-left: 20px;
  }
}

.project__title {
  position: relative;

  margin-bottom: 34px;

  font-size: 27px;
  line-height: 37px;
  font-family: $font-family-5;
  color: $text-color--main;
  text-transform: uppercase;

  @include font;
  @include lg {
    font-size: 24px;
  }
  @include md {
    margin-bottom: 10px;

    text-align: center;
  }
  @include sm {
    font-size: 22px;
    line-height: 30px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 53px;
    left: 179px;
    z-index: 1;

    display: block;
    width: 92px;
    height: 1px;

    background: $text-color--main;

    @include md {
      display: none;
    }
  }
}

.project__text {
  margin-bottom: 42px;

  font-size: 18px;
  line-height: 29px;
  font-family: $font-family-2;
  color: $text-color--light;

  @include font;
  @include lg {
    font-size: 16px;
  }
  @include md {
    margin-bottom: 0;

    text-align: center;
  }
  @include sm-1 {
    margin-bottom: 26px;

    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}

.project__descr {
  flex-wrap: wrap;
  justify-content: space-between;

  @include flexbox;
  @include md {
    margin-top: -40px;
  }
  @include sm-1 {
    margin-top: -4px;
  }
}

.descr__item {
  width: 50%;
}

.descr__item--title {
  margin-bottom: 9px;

  font-size: 18px;
  line-height: 25px;
  font-family: $font-family-5;
  color: $text-color--main;
  text-transform: uppercase;

  @include font;
  @include sm {
    font-size: 16px;
  }
}

.descr__item--content {
  margin-bottom: 34px;

  font-size: 15px;
  line-height: 20px;
  font-family: $font-family-2;
  color: $text-color--light;

  @include font;
  @include sm-1 {
    font-size: -15px;
  }
}

.slider {
  width: 60%;
  margin-left: 55px;
  overflow: hidden;

  @include flexbox;
  @include md {
    display: none;
  }
}

.slider__main {
  flex-wrap: wrap;
  margin-top: 59px;

  @include flexbox;
}

.nav__project {
  @include lg {
    display: block;
  }
  @include md {
    display: none;
  }
}

.nav__item--slider {
  margin: 0 34px;

  font-size: 14px;
  line-height: 19px;
  font-family: $font-family-5;
  color: $text-color--dark-transparent;

  cursor: pointer;

  @include font;
  @include lg {
    margin: 0 21px;

    font-size: 13px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:after {
    content: "";

    display: block;
    width: 0;
    height: 1.5px;

    background-color: $text-color--main;

    -webkit-transition: width 0.3s ease-in-out;
            transition: width 0.3s ease-in-out;

    -moz--transition: width 0.3s ease-in-out;
  }

  &:hover:after {
    width: 100%;
  }

  &:hover {
    color: $text-color--main;
  }
}

.nav__item--slider-active {
  color: $text-color--main;

  &:after {
    content: "";

    display: block;
    width: 100%;
    height: 1.5px;

    background-color: $text-color--main;
  }
}

.slider__image {
  position: relative;

  margin-top: 53px;
  margin-left: -31px;

  @include lg {
    margin-top: -55px;
  }
}

.slider__image--mob {
  @include lg {
    width: 600px;
  }
}

.slider__next {
  position: relative;

  margin-top: 131px;

  @include xl {
    display: none;
  }
}

.slider__next--mobile {
  display: none;

  @include md {
    position: relative;

    display: block;
  }
  @include md {
    margin-left: -15px;
  }
}

.img__mob {
  @include md {
    width: 660px;
    height: auto;
  }
  @include sm {
    width: 500px;
  }
  @include sm-1 {
    width: 340px;
  }
}

.pagination {
  margin-top: 40px;

  @include lg {
    margin-bottom: 25px;
  }
  @include md {
    display: none;
  }
}

.pagination__list {
  @include flexbox;
}

.pagination__item {
  margin: 0 10px;

  font-size: 0;

  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(3),
  &:nth-child(4) {
    width: 10px;
    height: 10px;

    color: transparent;

    background-color: $text-color--dark-transparent;
    border-radius: 50%;
  }

  &:nth-child(3):hover,
  &:nth-child(4):hover {
    background-color: $text-color--light;
  }
}

.pagination__item--active {
  width: 10px;
  height: 10px;

  color: transparent;

  background-color: $text-color--light;
  border-radius: 50%;
}
