.section--contacts {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;

  background-image: url("../../dist/assets/images/footer/bg__footer.png");
  background-repeat: no-repeat;
  background-position: center 230px;
  background-size: 100% 100%;

  @include md {
    background-color: $primary-color;
    background-image: none;
    background-position: center;
  }
  @include sm {
    margin-top: -106px;
  }
}

.contacts {
  flex-direction: column;
  align-items: center;

  @include flexbox;
}

.contacts__form {
  width: 883px;

  background-color: $primary-color;

  @include md {
    width: 600px;
  }
  @include sm {
    width: 500px;
  }
  @include sm-1 {
    width: 350px;
  }
}

.contacts__form-title {
  margin-bottom: 45px;
  padding-top: 34px;

  font-size: 20px;
  line-height: 28px;
  font-family: $font-family-5;
  text-align: center;
  color: $text-color--light;
  text-transform: uppercase;

  @include font;
  @include md {
    padding-top: 163px;
  }
}

.form__questions {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 520px;
  margin: 0 auto;

  @include md {
    width: 420px;
  }
  @include sm-1 {
    width: 340px;
  }
  @include flexbox;
}

.form__data {
  flex-direction: column;
  width: 230px;
  padding-bottom: 45px;

  @include flexbox;
  @include sm-1 {
    width: 340px;
  }

  input {
    background-color: $primary-color;
    border: 1px solid $text-color--dark-label;
    border-top: none;
    border-right: none;
    border-left: none;

    @include sm-1 {
      border: 1px solid $text-color--light;
      border-top: none;
      border-right: none;
      border-left: none;
    }
  }

  label {
    margin-bottom: 7px;

    font-size: 15px;
    line-height: 21px;
    font-family: $font-family-2;
    color: $text-color--dark-transparent;

    @include font;
  }

  ::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-2;
    color: $text-color--light;

    @include font;
  }

  ::-moz-placeholder {
    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-2;
    color: $text-color--light;

    @include font;
  }

  /* Firefox 19+ */
  :-moz-placeholder {
    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-2;
    color: $text-color--light;

    @include font;
  }
}

.form__data--quest {
  width: 100%;
}

.form__data--checkbox {
  width: 100%;
  margin: 0 57px;
  margin-top: 20px;
  margin-bottom: 39px;
  margin-left: 60px;

  font-size: 16px;
  line-height: 22px;
  font-family: $font-family-2;
  text-align: center;
  color: $text-color--light;

  @include font;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label:before {
    content: "\2713";

    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -5px 5px 0 0;

    vertical-align: middle;
    text-align: center;
    color: transparent;

    background: $text-color--main;
    border: none;

    transition: color ease 0.3s;
  }

  input[type="checkbox"]:checked + label:before {
    color: $text-color--light;
  }
}

.button__submit--center {
  margin: 0 auto 34px;
}

.contacts__info {
  flex-direction: column;

  @include flexbox;
}

.contacts__address {
  margin-top: 52px;

  font-size: 20px;
  line-height: 28px;
  font-family: $font-family-5;
  text-align: center;
  color: $text-color--main;
  text-transform: uppercase;

  @include sm-1 {
    order: 2;
    margin-top: 0;
  }
  @include sm-1 {
    width: 340px;

    font-size: 18px;
    line-height: 25px;
  }
  @include font;
  a {
    color: $text-color--main;
  }
}

.contacts__social {
  justify-content: center;
  margin: 26px auto 43px;

  @include flexbox;
  @include sm-1 {
    order: 3;
  }
}

.social__link {
  width: 28px;
  height: 28px;
  margin-left: 15px;
  padding-top: 3px;

  text-align: center;

  background-color: $text-color--main;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.contacts__map {
  @include sm-1 {
    order: 1;
  }
  img {
    @include md {
      width: 600px;
      height: 480px;
      margin: 0 auto;

      @include sm {
        width: 545px;
        height: 355px;
      }
      @include sm-1 {
        width: 340px;
        height: 255px;
      }
    }
  }
}
