.section--control {
  width: 100%;
  margin: 0 auto;

  background: linear-gradient(
  to top,
  $text-color--light 70%,
  $primary-color 30%
  );

  @include sm {
    background: linear-gradient(
    to top,
    $text-color--light 76%,
    $primary-color 30%
    );
  }
  @include sm-1 {
    background: linear-gradient(
    to top,
    $text-color--light 8.06%,
    $primary-color 8.06%
    );
  }
}

.control {
  flex-direction: column;
  align-items: center;

  @include flexbox;
}

.section__title {
  font-size: 20px;
  line-height: 28px;
  font-family: $font-family-5;
  text-align: center;
  color: $text-color--light;
  text-transform: uppercase;

  @include font;
  @include sm-1 {
    font-size: 22px;
  }
}

.section__logo {
  margin-top: -20px;
  margin-bottom: 20px;

  text-align: center;
}

.conrol__video {
  position: relative;

  margin-bottom: 76px;

  @include md {
    margin-bottom: 60px;
  }
  @include sm {
    margin-bottom: 50px;
  }
  iframe {
    @include md {
      width: 550px;
      height: 330px;
    }
    @include sm {
      width: 450px;
      height: 230px;
    }
    @include sm-1 {
      width: 340px;
      height: 207px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 116%;
    left: 46%;
    z-index: 1;

    display: block;
    width: 55px;
    height: 1px;

    background: $text-color--main;
  }
}

.control__text {
  width: 681px;
  margin-bottom: 92px;

  font-size: 20px;
  line-height: 34px;
  font-family: $font-family-2;
  text-align: center;
  color: $text-color--darken;

  @include font;
  @include md {
    font-size: 18px;
  }
  @include sm {
    width: 540px;

    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  @include sm-1 {
    width: 340px;

    font-size: 14px;
    line-height: 24px;
  }
  @include sm-1 {
    color: $text-color--light;
  }
}

.control__form {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 769px;
  margin: 0 auto;

  @include flexbox;
  @include sm {
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin-top: -40px;
  }
  @include sm-1 {
    width: 340px;
  }
}

.form-row {
  flex-direction: column;

  @include sm {
    margin-bottom: 60px;
  }
  @include sm {
    width: 340px;
  }
  @include flexbox;

  input {
    border: 1px solid $text-color--dark-label;
    border-top: none;
    border-right: none;
    border-left: none;

    @include sm-1 {
      background-color: $primary-color;
      border: 1px solid $text-color--light;
      border-top: none;
      border-right: none;
      border-left: none;
    }
  }

  label {
    margin-bottom: 7px;

    font-size: 15px;
    line-height: 20px;
    font-family: $font-family-2;
    color: $text-color--dark-label;

    @include font;
    @include sm-1 {
      color: $text-color--dark-transparent;
    }
  }

  ::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 24px;
    font-family: $font-family-2;
    color: $text-color--darken;

    @include font;
    @include sm-1 {
      color: $text-color--light;
    }
  }

  ::-moz-placeholder {
    font-size: 18px;
    line-height: 24px;
    font-family: $font-family-2;
    color: $text-color--darken;

    @include font;
    @include sm-1 {
      color: $text-color--light;
    }
  }

  :-moz-placeholder {
    font-size: 18px;
    line-height: 24px;
    font-family: $font-family-2;
    color: $text-color--darken;

    @include sm-1 {
      color: $text-color--light;
    }
    @include font;
  }
}

.control__form--checkbox {
  margin-top: 33px;
  margin-bottom: 148px;
  margin-left: 219px;

  font-size: 16px;
  line-height: 22px;
  font-family: $font-family-2;
  color: $text-color--darkest;

  @include sm-1 {
    color: $text-color--light;
  }
  @include sm {
    order: 3;
    margin-top: -38px;
    margin-left: 0;
  }
  @include flexbox;
  @include font;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label:before {
    content: "\2713";

    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -5px 5px 0 0;

    vertical-align: middle;
    text-align: center;
    color: transparent;

    background: $text-color--main;
    border: none;

    transition: color ease 0.3s;
  }

  input[type="checkbox"]:checked + label:before {
    color: $text-color--light;
  }
}
