.section--contacts {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__form {
  width: 883px;

  background-color: $primary-color;
}

.contacts__form-title {
  padding-top: 34px;

  font-size: 20px;
  line-height: 28px;
  font-family: $font-family-5;
  text-align: center;
  color: $white-text-color;
  text-transform: uppercase;
}
