.section--desing {
  width: 100%;
  margin: 0 auto;
  margin-top: 117px;

  background: linear-gradient(
  to top,
  $primary-color 72%,
  $text-color--light 28%
  );

  @include xl {
    background: linear-gradient(to top, $primary-color 83%, #ffffff 28%);
  }
  @include md {
    background: linear-gradient(to top, $primary-color 87%, #ffffff 28%);
  }
  @include sm {
    margin-top: 0;

    background: $primary-color;
  }
}

.section__title--desing {
  margin-bottom: 30px;

  color: $text-color--darkest;

  @include sm {
    padding-top: 50px;

    font-size: 22px;
    color: $text-color--light;
  }
}

.section__text {
  margin-top: 25px;

  font-size: 20px;
  line-height: 27px;
  font-family: $font-family-2;
  text-align: center;
  color: $text-color--darken;

  @include sm {
    width: 340px;
    margin: 0 auto;

    font-size: 18px;
    line-height: 22px;
    color: $text-color--light;
  }
  @include font;
}

.desing {
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1236px;
  margin: 40px 100px 31px 102px;

  @include flexbox;
  @include lg {
    margin: 40px 86px 38px 86px;
  }
  @include sm {
    margin: 40px 17px 38px 18px;
  }
}

.desing__item {
  position: relative;

  width: 392px;

  &:first-child {
    @include md {
      margin: 0 auto;
      margin-bottom: 150px;
    }
  }

  &:nth-child(2) {
    @include md {
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }

  &:last-child {
    @include xl {
      margin: 0 auto;
      margin-top: 263px;
      margin-bottom: 50px;
    }
  }
}

.desing__photo {
  display: block;
  height: auto;

  @include sm-1 {
    width: 340px;
  }
}

.desing__content {
  position: absolute;
  top: 70%;
  left: 8%;
  z-index: 1;

  width: 330px;

  background-color: $text-color--light;

  @include sm-1 {
    left: 0;

    width: 270px;
  }

  h4 {
    padding: 25px 68px 13px 34px;

    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-5;
    color: $text-color--darken;

    @include font;
    @include sm-1 {
      font-size: 15px;
      line-height: 21px;
    }
  }

  ul {
    padding: 0 29px 49px 48px;
  }

  li {
    list-style-type: disc;
    font-size: 15px;
    line-height: 26px;
    font-family: $font-family-2;
    color: $text-color--dark;

    @include font;
    @include sm-1 {
      font-size: 13px;
      line-height: 22px;
    }
  }
}

.desing__coast {
  position: absolute;
  top: 114%;
  left: 8%;
  z-index: 10;

  width: 228px;
  height: 54px;

  background-color: $text-color--main;
  box-shadow: 5px 5px 10px $color-shadow-buuton;

  @include sm-1 {
    left: 0;

    width: 190px;
    height: 40px;
  }

  p {
    padding-top: 17px;

    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-5;
    text-align: center;
    color: $text-color--light;
    text-transform: uppercase;

    @include font;
    @include sm-1 {
      padding-top: 11px;

      font-size: 15px;
      line-height: 21px;
    }
  }
}

.goal {
  @include sm {
    display: none;
  }
}

.desing__coast--standart {
  top: 139%;
}

.desing__coast--full {
  top: 170%;
}

.measurements {
  flex-direction: column;
  width: 30%;
  margin-top: 330px;
  margin-left: 99px;

  @include flexbox;
  @include xl {
    margin-left: 50px;
  }
}

.measurements__suptitile {
  margin-bottom: 18px;

  font-size: 15px;
  line-height: 21px;
  font-family: $font-family-1;
  color: $text-color--light;
  text-transform: uppercase;

  @include md {
    font-size: 14px;
    line-height: 18px;
  }
  @include sm {
    display: none;
  }
  @include font;
}

.measurements__title {
  position: relative;

  margin-bottom: 92px;

  font-size: 27px;
  line-height: 37px;
  font-family: $font-family-5;
  color: $text-color--main;
  text-transform: uppercase;

  @include md {
    font-size: 24px;
    line-height: 30px;
  }
  @include sm {
    display: none;
  }
  @include font;

  &:after {
    content: "";
    position: absolute;
    top: 53px;
    left: 179px;
    z-index: 1;

    display: block;
    width: 92px;
    height: 1px;

    background: $text-color--main;

    @include md {
      display: none;
    }
  }
}

.measurements__text {
  margin-bottom: 61px;

  font-size: 15px;
  line-height: 26px;
  font-family: $font-family-2;
  color: $text-color--light;

  @include md {
    font-size: 14px;
    line-height: 22px;
  }
  @include sm {
    display: none;
  }
  @include font;

  span {
    margin-bottom: 22px;

    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-5;
    color: $text-color--light;
    text-transform: uppercase;

    @include font;
    @include md {
      font-size: 16px;
      line-height: 20px;
    }
  }

  h3 {
    margin-bottom: 16px;

    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    font-family: $font-family-5;
    color: $text-color--main;
    text-transform: uppercase;

    @include font;
  }
}

.pagination--desing {
  @include md {
    display: none;
  }
}

.pagination__item--add {
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7) {
    width: 10px;
    height: 10px;

    color: transparent;

    background-color: $text-color--dark-transparent;
    border-radius: 50%;

    &:nth-child(2):hover,
    &:nth-child(3):hover,
    &:nth-child(4):hover,
    &:nth-child(5):hover,
    &:nth-child(6):hover,
    &:nth-child(7):hover {
      background-color: $text-color--light;
    }
  }
}

.pagination__item--add-active {
  width: 10px;
  height: 10px;

  color: transparent;

  background-color: $text-color--light;
  border-radius: 50%;
}

.works {
  flex-direction: column;
  width: 60%;
  margin-top: 360px;
  margin-left: 55px;

  @include flexbox;
  @include xl {
    width: 64%;
  }
  @include sm {
    display: none;
  }
}

.works__step--double {
  margin-top: 100px;
}

.goal {
  justify-content: space-between;

  @include flexbox;
}

.steps__list {
  flex-flow: row wrap;
  width: 765px;

  @include flexbox;
  @include xl {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  @include lg {
    flex-flow: row wrap;
    width: 500px;
  }
}

.step__item {
  font-size: 15px;
  line-height: 18px;
  font-family: $font-family-2;
  color: $text-color--light;

  cursor: pointer;
  opacity: 0.6;

  transition: opacity 0.2s linear;

  @include font;

  &:hover {
    opacity: 1;
  }

  &:nth-child(1),
  &:nth-child(4) {
    flex: 0 1 127px;
    margin: 0 200px 0 0;
    padding: 36px 0;

    @include xl {
      flex: 0 1 135px;
      margin: 0;
    }
    @include lg {
      flex: 0 1 127px;
      margin: 0 50px 0 0;
    }
  }

  &:nth-child(2),
  &:nth-child(5) {
    flex: 0 1 136px;
    margin: 0 200px 0 0;
    padding: 36px 0;

    @include xl {
      flex: 0 1 80px;
      margin: 0;
    }
    @include lg {
      flex: 0 1 136px;
      margin: 0 50px 0 0;
    }
  }

  &:nth-child(3),
  &:nth-child(6) {
    margin: auto;
    padding: 36px 0;
  }

  &:hover {
    color: $text-color--light;

    cursor: pointer;
  }
}

.step__num {
  padding-bottom: 2px;

  border-bottom: 1px solid $text-color--main;
}

.step__text {
  padding-top: 10px;
}

.works__photo {
  margin-bottom: 98px;

  img {
    @include xl {
      width: 725px;
    }
    @include lg {
      width: 560px;
    }
    @include md {
      width: 465px;
    }
    @include sm {
      display: none;
    }
  }
}
