.section--desing {
  width: 100%;
  margin: 0 auto;
  margin-top: 117px;

  background: linear-gradient(
  to top,
  $primary-color 72%,
  $text-color--light 28%
  );
}

.section__title--desing {
  margin-bottom: 30px;

  color: $text-color--darkest;
}

.section__text {
  margin-top: 25px;

  font-size: 20px;
  line-height: 27px;
  font-family: $font-family-2;
  text-align: center;
  color: $text-color--darken;

  @include font;
}

.desing {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 100px 31px 102px;

  @include flexbox;
}

.desing__item {
  position: relative;

  width: 33.3333%;
}

.desing__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.desing__content {
  position: absolute;
  top: 70%;
  left: 8%;
  z-index: 1;

  width: 330px;

  background-color: $text-color--light;

  h4 {
    padding: 25px 68px 13px 34px;

    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-5;
    color: $text-color--darken;

    @include font;
  }

  ul {
    padding: 0 29px 49px 48px;
  }

  li {
    list-style-type: disc;
    font-size: 15px;
    line-height: 26px;
    font-family: $font-family-2;
    color: $text-color--dark;

    @include font;
  }
}

.desing__coast {
  position: absolute;
  top: 114%;
  left: 8%;
  z-index: 10;

  width: 228px;
  height: 54px;

  background-color: $text-color--main;

  p {
    padding-top: 17px;

    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-5;
    text-align: center;
    color: $text-color--light;
    text-transform: uppercase;

    @include font;
  }
}

.desing__coast--standart {
  top: 139%;
}

.desing__coast--full {
  top: 170%;
}

.measurements {
  flex-direction: column;
  width: 30%;
  margin-top: 330px;
  margin-left: 99px;

  @include flexbox;
}

.measurements__suptitile {
  margin-bottom: 18px;

  font-size: 15px;
  line-height: 21px;
  font-family: $font-family-1;
  color: $text-color--light;
  text-transform: uppercase;

  @include font;
}

.measurements__title {
  position: relative;

  margin-bottom: 92px;

  font-size: 27px;
  line-height: 37px;
  font-family: $font-family-5;
  color: $text-color--main;
  text-transform: uppercase;

  @include font;

  &:after {
    content: "";
    position: absolute;
    top: 53px;
    left: 179px;
    z-index: 1;

    display: block;
    width: 92px;
    height: 1px;

    background: $text-color--main;
  }
}

.measurements__text {
  margin-bottom: 61px;

  font-size: 15px;
  line-height: 26px;
  font-family: $font-family-2;
  color: $text-color--light;

  @include font;

  span {
    margin-bottom: 22px;

    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-5;
    color: $text-color--light;
    text-transform: uppercase;

    @include font;
  }

  h3 {
    margin-bottom: 16px;

    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    font-family: $font-family-5;
    color: $text-color--main;
    text-transform: uppercase;

    @include font;
  }
}

.pagination__item--add {
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7) {
    width: 10px;
    height: 10px;

    color: transparent;

    background-color: $text-color--dark-transparent;
    border-radius: 50%;
  }
}

.works {
  flex-direction: column;
  width: 60%;
  margin-top: 360px;
  margin-left: 55px;

  @include flexbox;
}

.works__step--double {
  margin-top: 100px;
}

.goal {
  justify-content: space-between;

  @include flexbox;
}

.steps__list {
  flex-flow: row wrap;
  width: 765px;

  @include flexbox;
}

.step__item {
  font-size: 15px;
  line-height: 18px;
  font-family: $font-family-2;
  color: $text-color--light;

  opacity: 0.6;

  @include font;

  &:nth-child(1),
  &:nth-child(4) {
    flex: 0 1 127px;
    margin: 0 200px 0 0;
    padding: 36px 0;
  }

  &:nth-child(2),
  &:nth-child(5) {
    flex: 0 1 136px;
    margin: 0 200px 0 0;
    padding: 36px 0;
  }

  &:nth-child(3),
  &:nth-child(6) {
    margin: auto;
    padding: 36px 0;
  }

  &:hover {
    color: $text-color--light;

    cursor: pointer;
  }
}

.step__num {
  border-bottom: 1px solid $text-color--main;
}

.works__photo {
  margin-bottom: 98px;
}
