.section--desing {
  width: 100%;
  margin: 0 auto;
  margin-top: 117px;
}

.section__title--desing {
  margin-bottom: 30px;

  color: #181818;
}

.section__text {
  margin-top: 25px;

  font-size: 20px;
  line-height: 27px;
  font-family: $white-text-color;
  text-align: center;
  color: $primary-text-color;
}
