.container {
  width: 100%;
  margin: 0 auto;

  background: $primary-color;
}

.inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header__inner {
  justify-content: space-between;
  align-items: center;
  padding: 22px 100px 22px 85px;

  @include flexbox;
}

.header__logo {
  font-size: 14px;
  line-height: 16px;
  font-family: $font-family-1;
  color: $text-color--main;
  text-transform: uppercase;

  cursor: pointer;

  @include font;
}

.nav {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__list {
  align-items: center;

  color: $text-color--light;

  @include flexbox;
}

.nav__item {
  margin: 0 21px;

  vertical-align: top;
}


.nav__link {
  font-family: $font-family-2;
  color: $text-color--light;

  transition: color 0.2s linear;

  &:hover {
    color: $text-color--main;
  }
}

.nav__link--active {
  color: $text-color--main;
  text-decoration: underline;

  &:hover {
    color: $text-color--dark;
  }
}

.nav__link--current {
  color: $text-color--main;
}
