.container {
  width: 100%;
  margin: 0 auto;

  background: $primary-color;
}

.inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header__inner {
  justify-content: space-between;
  align-items: center;
  padding: 22px 100px 22px 85px;

  @include flexbox;
}

.header__logo {
  font-size: 14px;
  line-height: 16px;
  font-family: $font-family-1;
  color: $text-color--main;
  text-transform: uppercase;

  cursor: pointer;

  @include font;
}

.nav {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__list {
  align-items: center;

  color: $text-color--light;

  @include flexbox;
}

.nav__item {
  margin: 0 21px;

  vertical-align: top;
}


.nav__link {
  font-family: $font-family-2;
  color: $text-color--light;

  transition: color 0.2s linear;

  &:hover {
    color: $text-color--main;
  }
}

.nav__link--active {
  color: $text-color--main;
  text-decoration: underline;

  &:hover {
    color: $text-color--dark;
  }
}

.nav__link--current {
  color: $text-color--main;
}



//-------------------Media 1200px------------------//

.header__inner {
  @include xl {
    padding: 22px 27px 22px 85px;
  }
}

.nav__item {
  @include xl {
    margin: 0 15px;
  }
}

//-------------------Media 992px------------------//

.header__inner {
  @include lg {
    padding: 30px 27px 22px 18px;
  }
}

.nav {
  @include lg {
    display: none;
  }
}

.nav-toggle {
  @include lg {
    display: block;
  }
}

//-------------------Media 768px------------------//

.header__inner {
  @include md {
    padding: 22px 27px 22px 18px;
  }
}

.nav {
  @include md {
    display: none;
  }
}

.nav-toggle {
  @include md {
    display: block;
  }
}

//-------------------Media 576px------------------//
.header__inner {
  @include sm {
    padding: 22px 27px 22px 18px;
  }
}

.nav {
  @include sm {
    display: none;
  }
}

.nav-toggle {
  @include sm {
    display: block;
  }
}

//-------------------Media 375px------------------//

.header__inner {
  @include sm-1 {
    padding: 22px 27px 22px 18px;
  }
}

.header__logo {
  @include sm-1 {
    font-size: 12px;
    line-height: 14px;
  }
}

.nav {
  @include sm-1 {
    display: block;
  }
}

.nav-toggle {
  @include sm-1 {
    display: none;
  }
}

.nav__item {
  @include sm-1 {
    display: none;
    margin: 0;
  }
}

.nav__item--mobile {
  @include sm-1 {
    display: block;
  }
}

.nav__link--active {
  @include sm-1 {
    color: $text-color--light;
    text-decoration: none;
  }
}
