.section--gallery {
  width: 100%;
  margin: 0 auto;
  margin-top: 237px;

  background: url("../../dist/assets/images/Desing styles/bg.png") no-repeat center;
  background-size: 100% 865px;
}

.gallery {
  justify-content: space-between;

  @include flexbox;
}

.gallery__item {
  flex-direction: column;

  @include flexbox;

  &:last-child {
    margin-right: 100px;
  }

  &:first-child {
    margin-right: 176px;
  }
}

.gallery__title {
  margin-top: 137px;
  margin-bottom: 37px;
  margin-left: 99px;

  font-size: 27px;
  line-height: 37px;
  font-family: $font-family-5;
  color: $text-color--main;
  text-transform: uppercase;

  @include font;
}

.gallery__list {
  margin-left: 99px;

  li {
    padding-bottom: 25px;

    font-size: 20px;
    line-height: 33px;
    font-family: $font-family-4;
    color: $text-color--light;

    @include font;

    &:hover {
      color: $text-color--main;
    }
  }
}

.gallery__american {
  flex-direction: column;

  @include flexbox;
}

.gallery__image {
  display: block;
  min-width: 100%;
  margin-top: -41px;
  margin-bottom: 40px;
}

.gallery__image--double {
  display: block;
  min-width: 100%;
  margin-top: -113px;
  margin-bottom: 37px;
}
