.section--gallery {
  width: 100%;
  margin: 0 auto;
  margin-top: 237px;

  background: url("../../dist/assets/images/Desing styles/bg.png") no-repeat
  center;
  background-size: 100% 865px;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  &:last-child {
    margin-right: 100px;
  }
  &:first-child {
    margin-right: 176px;
  }
}

.gallery__title {
  margin-top: 137px;
  margin-bottom: 37px;
  margin-left: 99px;

  font-size: 27px;
  line-height: 37px;
  font-family: $font-family-5;
  color: $secondary-text-color;
  text-transform: uppercase;
}

.gallery__list {
  margin-left: 99px;
  li {
    padding-bottom: 25px;

    font-size: 20px;
    line-height: 33px;
    font-family: $font-family-4;
    color: $white-text-color;
    &:hover {
      color: $secondary-text-color;
    }
  }
}

.gallery__american {
  display: flex;
  flex-direction: column;
}

.gallery__image {
  display: block;
  min-width: 100%;
  margin-top: -41px;
  margin-bottom: 40px;
}

.gallery__image--double {
  display: block;
  min-width: 100%;
  margin-top: -113px;
  margin-bottom: 37px;
}
