.section--gallery {
  background: linear-gradient(
  to top,
  #ffffff 4.12%,
  #131313 4.12%,
  #131313 87.63%,
  #ffffff 87.63%
  );
}

.gallery {
  justify-content: space-between;
  height: 1036px;

  background: url("../../dist/assets/images/Desing styles/bg.png") no-repeat
  center;
  background-position: 0 128px;

  @include flexbox;
}

.gallery__item {
  flex-direction: column;

  @include flexbox;

  &:last-child {
    margin-right: 100px;
  }

  &:first-child {
    margin-right: 176px;
  }
}

.gallery__title {
  margin-top: 210px;
  margin-bottom: 37px;
  margin-left: 99px;

  font-size: 27px;
  line-height: 37px;
  font-family: $font-family-5;
  color: $text-color--main;
  text-transform: uppercase;

  @include font;
}

.gallery__list {
  width: 180px;
  margin-left: 99px;
}

.nav__item--gallery {
  padding-bottom: 25px;

  font-size: 20px;
  line-height: 33px;
  font-family: $font-family-4;
  color: $text-color--light;

  @include font;

  &:first-child {
    margin-left: 0;
  }

  &:after {
    content: "";

    display: block;
    width: 0;
    height: 1.5px;

    background-color: $text-color--main;

    -webkit-transition: width 0.3s ease-in-out;
            transition: width 0.3s ease-in-out;

    -moz--transition: width 0.3s ease-in-out;
  }

  &:hover:after {
    width: 100%;
  }

  &:hover {
    color: $text-color--main;
  }
}

.nav__item--gallery-active {
  color: $text-color--main;

  &:after {
    content: "";

    display: block;
    width: 100%;
    height: 1.5px;

    background-color: $text-color--main;
  }
}

.gallery__american {
  flex-direction: column;

  @include flexbox;
}

.gallery__image {
  display: block;
  min-width: 100%;
  margin-top: 72px;
  margin-bottom: 40px;
}

.gallery__image--double {
  display: block;
  min-width: 100%;
  margin-top: 16px;
  margin-bottom: 37px;
}
