.section--gallery {
  background: linear-gradient(
  to top,
  $text-color--light 4.12%,
  $primary-color 4.12%,
  $primary-color 87.63%,
  $text-color--light 87.63%
  );

  @include sm {
    background: linear-gradient(
    to top,
    $primary-color 42.26%,
    $text-color--light 42.26%
    );
  }
  @include sm-1 {
    background: linear-gradient(
    to top,
    $primary-color 31.26%,
    $text-color--light 31.26%
    );
  }
}

.gallery {
  justify-content: space-between;
  height: 1036px;

  background: url("../../dist/assets/images/Desing styles/bg.png") no-repeat
  center;
  background-position: 0 128px;

  @include flexbox;
  @include sm {
    flex-direction: column;
    align-items: center;
    height: 430px;

    background: none;
  }
  @include sm-1 {
    height: 381px;
  }
}

.gallery__item {
  flex-direction: column;
  margin-right: 128px;

  @include xl {
    margin-right: 75px;
  }
  @include sm {
    width: 100%;
  }
  @include flexbox;

  &:first-child {
    margin-right: 176px;

    @include xl {
      margin-right: 20px;
    }
    @include sm-1 {
      margin-right: 50px;
    }
  }

  &:nth-child(2) {
    margin-right: 40px;

    @include lg {
      margin-right: 100px;
    }
    @include md {
      margin-right: 50px;
    }
    @include sm {
      display: none;
    }
    @include sm-1 {
      display: none;
    }
  }

  &:nth-child(3) {
    margin-right: 100px;

    @include xl {
      margin-right: 55px;
    }
    @include lg {
      display: none;
    }
    @include md {
      display: none;
    }
    @include sm {
      display: none;
    }
    @include sm-1 {
      display: none;
    }
  }
}

.gallery__slider {
  position: relative;

  display: none;

  @include sm {
    display: block;
  }
}

.slide__mob {
  @include sm {
    width: 430px;
    margin-bottom: 20px;
  }
  @include sm-1 {
    width: 340px;
    margin-bottom: 0;
  }
}

.gallery__title {
  margin-top: 210px;
  margin-bottom: 37px;
  margin-left: 99px;

  font-size: 27px;
  line-height: 37px;
  font-family: $font-family-5;
  color: $text-color--main;
  text-transform: uppercase;

  @include font;
  @include xl {
    margin-left: 50px;
  }
  @include lg {
    margin-left: 80px;

    font-size: 25px;
  }
  @include md {
    margin-left: 54px;
  }
  @include sm {
    margin-top: 0;

    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  @include sm-1 {
    margin-top: 42px;

    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }
}

.gallery__list {
  width: 180px;
  margin-left: 99px;

  @include xl {
    margin-left: 50px;
  }
  @include lg {
    margin-left: 80px;
  }
  @include md {
    margin-left: 54px;
  }
  @include sm {
    display: none;
  }
}

.nav__item--gallery {
  padding-bottom: 25px;

  font-size: 20px;
  line-height: 33px;
  font-family: $font-family-4;
  color: $text-color--light;

  cursor: pointer;

  @include font;

  &:first-child {
    margin-left: 0;
  }

  &:after {
    content: "";

    display: block;
    width: 0;
    height: 1.5px;

    background-color: $text-color--main;

    -webkit-transition: width 0.3s ease-in-out;
            transition: width 0.3s ease-in-out;

    -moz--transition: width 0.3s ease-in-out;
  }

  &:hover:after {
    width: 100%;
  }

  &:hover {
    color: $text-color--main;
  }
}

.nav__item--gallery-active {
  color: $text-color--main;

  &:after {
    content: "";

    display: block;
    width: 100%;
    height: 1.5px;

    background-color: $text-color--main;
  }
}

.gallery__american {
  flex-direction: column;

  @include flexbox;
  @include sm {
    display: none;
  }
}

.gallery__image {
  display: block;
  min-width: 100%;
  margin-top: 72px;
  margin-bottom: 40px;
}

.gallery__image--double {
  display: block;
  min-width: 100%;
  margin-top: 16px;
  margin-bottom: 37px;
}
