.section--repair {
  width: 100%;
  height: 712px;
  margin: 0 auto;
  margin-bottom: 124px;
}

.section__title--repair {
  margin-bottom: 30px;

  color: $text-color--darkest;
}

.repair {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 31px 100px 31px 102px;

  @include flexbox;
}

.repair__item {
  position: relative;

  width: 33.3333%;
}

.repair__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.repair__content {
  position: absolute;
  top: 70%;
  left: 8%;
  z-index: 1;

  width: 330px;

  background-color: $text-color--light;

  h4 {
    padding: 25px 68px 13px 34px;

    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-5;
    color: $text-color--darken;

    @include font;
  }

  ul {
    padding: 0 29px 49px 48px;
  }

  li {
    list-style-type: disc;
    font-size: 15px;
    line-height: 26px;
    font-family: $font-family-2;
    color: $text-color--dark;

    @include font;
  }
}

.repair__coast {
  position: absolute;
  top: 133%;
  left: 8%;
  z-index: 10;

  width: 228px;
  height: 54px;

  background-color: $text-color--main;

  p {
    padding-top: 17px;

    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-5;
    text-align: center;
    color: $text-color--light;
    text-transform: uppercase;

    @include font;
  }
}
