.section--repair {
  width: 100%;
  // height: 712px;
  // margin: 0 auto;
  margin-bottom: 124px;
}

.section__title--repair {
  margin-bottom: 30px;

  color: $text-color--darkest;
}

.repair {
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1236px;
  margin: 31px 100px 31px 102px;

  @include flexbox;
  @include xl {
    margin: 31px 150px 31px 150px;
  }
  @include md {
    margin: 0 auto;
  }
  @include sm {
    margin: 0 auto;
  }
  @include sm-1 {
    margin: 0 19px;
  }
}

.repair__item {
  position: relative;

  flex-wrap: wrap;
  width: 392px;

  @include xl {
    &:nth-child(3) {
      margin: 228px auto 100px;
    }
  }
  @include lg {
    &:nth-child(2) {
      margin: 228px auto 35px;
    }
  }
  @include lg {
    &:first-child {
      margin: 15px auto 35px;
    }
  }
}

.repair__photo {
  display: block;
  height: auto;

  @include sm-1 {
    width: 340px;
  }
}

.repair__content {
  position: absolute;
  top: 70%;
  left: 8%;
  z-index: 1;

  width: 330px;

  background-color: $text-color--light;

  @include sm-1 {
    left: 0;

    width: 270px;
  }

  h4 {
    padding: 25px 68px 13px 34px;

    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-5;
    color: $text-color--darken;

    @include font;
    @include sm {
      font-size: 16px;
    }
    @include sm-1 {
      font-size: 15px;
    }
  }

  ul {
    padding: 0 29px 49px 48px;
  }

  li {
    list-style-type: disc;
    font-size: 15px;
    line-height: 26px;
    font-family: $font-family-2;
    color: $text-color--dark;

    @include font;
    @include sm-1 {
      font-size: 13px;
      line-height: 22px;
    }
  }
}

.repair__coast {
  position: absolute;
  top: 133%;
  left: 8%;
  z-index: 10;

  width: 228px;
  height: 54px;

  background-color: $text-color--main;

  @include sm-1 {
    top: 137%;
    left: 0;

    width: 190px;
    height: 40px;
  }

  p {
    padding-top: 17px;

    font-size: 18px;
    line-height: 25px;
    font-family: $font-family-5;
    text-align: center;
    color: $text-color--light;
    text-transform: uppercase;

    @include font;
    @include sm-1 {
      padding-top: 12px;

      font-size: 15px;
      line-height: 21px;
    }
  }
}
