.section--reviews {
  width: 100%;
  margin: 0 auto;

  @include sm {
    display: none;
  }
}

.section__title--reviews {
  margin-bottom: 30px;

  color: $text-color--darken;
}

.section__text--reviews {
  margin-top: 20px;

  font-size: 20px;
  line-height: 27px;
  font-family: $font-family-2;
  text-align: center;
  color: $text-color--darken;

  @include font;
}

.reviews {
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 63px 0 100px 95px;

  @include flexbox;
}

.reviews__item {
  width: 33.333%;
}

.reviews__author {
  align-items: center;
  margin-bottom: 40px;

  @include flexbox;
}

.reviews__photo {
  border-radius: 50%;
}

.reviews__name {
  padding-left: 23px;

  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  font-family: $font-family-5;
  color: $text-color--darkest;

  @include font;
}

.reviews__text {
  font-size: 15px;
  line-height: 27px;
  font-family: $font-family-2;
  color: $text-color--darken;

  @include font;
}

.reviews__time {
  position: relative;

  align-items: center;
  width: 294px;
  height: 54px;
  margin-top: 60px;
  margin-left: -20px;

  font-size: 17px;
  line-height: 24px;
  font-family: $font-family-5;
  color: $text-color--light;
  text-transform: uppercase;

  background-color: $text-color--main;

  @include flexbox;
  @include font;
}

.reviews__time--area,
.reviews__time--day {
  align-items: center;

  @include flexbox;
}

.reviews__time--area {
  img {
    padding: 0 17px 0 15px;
  }

  p {
    padding-right: 31px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 130px;
    z-index: 1;

    display: block;
    width: 2px;
    height: 54px;

    background: $text-color--light;
  }
}

.reviews__time--day {
  img {
    padding-right: 17px;
  }
}
