.section--team {
  width: 100%;
  margin: 0 auto;

  background: linear-gradient(
  to top,
  $white-text-color 52%,
  $primary-color 48%
  );
}

.section__title--team {
  margin-bottom: 30px;

  color: $white-text-color;
}

.section__text--team {
  margin-top: 25px;

  font-size: 20px;
  line-height: 27px;
  font-family: $font-family-2;
  text-align: center;
  color: $white-text-color;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 73px 27px 102px 156px;
}

.team__item {
  position: relative;

  width: 33.3333%;
}

.team__icon {
  position: absolute;
  top: -35px;
  left: -35px;

  width: 70px;
  height: 70px;

  background-color: $secondary-text-color;
  img {
    padding: 13px;
  }
}

.team__info {
  position: absolute;
  top: 277px;
  left: 20px;

  width: 233px;

  background-color: $white-text-color;
}

.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__name {
  padding: 22px 0 9px 0;

  font-size: 18px;
  line-height: 25px;
  font-family: $font-family-5;
  text-align: center;
  color: #181818;
}

.team__prof {
  padding-bottom: 24px;

  font-size: 18px;
  line-height: 26px;
  font-family: $font-family-2;
  text-align: center;
  color: #959595;
}

.team__experience {
  padding: 14px 0;

  font-size: 13px;
  line-height: 20px;
  font-family: $font-family-5;
  text-align: center;
  color: $white-text-color;
  text-transform: uppercase;

  background-color: $secondary-text-color;
}

.team__text {
  position: relative;

  margin-top: 140px;
  margin-left: 285px;

  font-size: 20px;
  line-height: 34px;
  font-family: $font-family-2;
  text-align: center;
  color: $primary-text-color;

  &:before {
    content: "";
    position: absolute;
    top: -9%;
    left: 45%;
    z-index: 1;

    display: block;
    width: 55px;
    height: 2px;

    background: $secondary-text-color;
  }
}
