.section--team {
  width: 100%;
  margin: 0 auto;

  background: linear-gradient(
  to top,
  $text-color--light 52%,
  $primary-color 48%
  );

  @include md {
    background: linear-gradient(
    to top,
    $text-color--light 70%,
    $primary-color 48%
    );
  }
  @include sm {
    background: $primary-color;
  }
}

.section__title--team {
  margin-bottom: 30px;

  color: $text-color--light;

  @include sm-1 {
    font-size: 22px;
    line-height: 22px;
  }
}

.section__text--team {
  margin-top: 25px;

  font-size: 20px;
  line-height: 27px;
  font-family: $font-family-2;
  text-align: center;
  color: $text-color--light;

  @include font;
  @include sm-1 {
    font-size: 15px;
    line-height: 20px;
  }
}

.team {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 73px 203px 102px 206px;

  @include flexbox;
  @include font;
  @include xl {
    margin: 73px 70px 102px 93px;
  }
  @include lg {
    margin: 74px 17px 102px 43px;
  }
  @include md {
    margin: 74px 58px 102px 64px;
  }
}

.team__item {
  position: relative;

  width: 272px;

  &:first-child {
    @include sm {
      margin: 0 auto 180px;
    }
  }
  &:nth-child(2) {
    @include sm {
      margin: 0 auto;
    }
  }

  &:nth-child(3) {
    @include md {
      margin: 185px auto 0;
    }
  }
}

.team__icon {
  position: absolute;
  top: -35px;
  left: -35px;

  width: 70px;
  height: 70px;

  background-color: $text-color--main;

  img {
    padding: 13px;
  }
}

.team__info {
  position: absolute;
  top: 277px;
  left: 20px;

  width: 233px;

  background-color: $text-color--light;
}

.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__name {
  padding: 22px 0 9px 0;

  font-size: 18px;
  line-height: 25px;
  font-family: $font-family-5;
  text-align: center;
  color: $text-color--darkest;

  @include font;
}

.team__prof {
  padding-bottom: 24px;

  font-size: 18px;
  line-height: 26px;
  font-family: $font-family-2;
  text-align: center;
  color: $text-color--dark;

  @include font;
}

.team__experience {
  padding: 14px 0;

  font-size: 13px;
  line-height: 20px;
  font-family: $font-family-5;
  text-align: center;
  color: $text-color--light;
  text-transform: uppercase;

  background-color: $text-color--main;

  @include font;
}

.team__text {
  position: relative;

  margin: 140px auto 0;

  font-size: 20px;
  line-height: 34px;
  font-family: $font-family-2;
  text-align: center;
  color: $text-color--darken;

  @include sm {
    display: none;
  }
  @include font;

  &:before {
    content: "";
    position: absolute;
    top: -9%;
    left: 45%;
    z-index: 1;

    display: block;
    width: 55px;
    height: 2px;

    background: $text-color--main;
  }
}
