.button {
  width: 161px;
  height: 37px;

  font-size: 13px;
  font-family: $font-family-1;
  color: $text-color--light;
  text-transform: uppercase;

  background: $text-color--main;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 5px 15px $color-shadow;
  cursor: pointer;

  transition: all 500ms ease;

  @include font;

  &:hover {
    color: $text-color--light;

    background: $text-color--main;
    box-shadow: inset 0 0 0 3px $text-color--light;
  }
}

.button__intro--calc {
  width: 207px;
  height: 51px;

  color: $text-color--light;

  background: $secondary-text-color;

  &:hover {
    background: transparent;
    border-color: $secondary-text-color;
  }
}

.button__intro--app {
  width: 207px;
  height: 51px;

  font-size: 13px;
  font-family: $font-family-1;
  color: $text-color--light;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid $text-color--light;
  cursor: pointer;

  transition: all 500ms ease;

  &:hover {
    background: $secondary-text-color;
    border: none;
  }
}

.slick-arrow {
  position: absolute;
  top: 37%;
  left: 7%;
  z-index: 1;

  display: block;
  width: 55px;
  height: 55px;

  color: transparent;

  background: $text-color--main;
  border-radius: 50%;
  box-shadow: 0 0 15px $color-shadow;
  cursor: pointer;

  &:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.slick__arrow--prev,
.slick__arrow--next {
  display: none;
}

.button__submit {
  width: 200px;
  height: 51px;

  font-size: 15px;
  line-height: 26px;
  font-family: $font-family-1;
  text-align: center;
  color: $white-text-color;
  text-transform: uppercase;

  background: $secondary-text-color;
  border: none;
}

.button__submit--build {
  width: 213px;
  margin-left: 255px;
}

//-------------------Media 1200px------------------//

.slick__arrow--prev {
  @include xl {
    position: absolute;
    top: 39%;
    left: 87%;
    z-index: 1;

    display: block;
    width: 36px;
    height: 36px;

    color: transparent;

    background: $text-color--main;
    border-radius: 50%;
    box-shadow: 0 0 15px $color-shadow;
    cursor: pointer;

    &:hover {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
}

.slick__arrow--next {
  @include xl {
    position: absolute;
    top: 39%;
    left: 7%;
    z-index: 1;

    display: block;
    width: 36px;
    height: 36px;

    color: transparent;

    background: $text-color--main;
    border-radius: 50%;
    box-shadow: 0 0 15px $color-shadow;
    transform: rotate(180deg);
    cursor: pointer;

    &:hover {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
}

//-------------------Media 992px------------------//

.slick__arrow--prev,
.slick__arrow--next {
  @include lg {
    top: 30%;
  }
}

//-------------------Media 576px------------------//

.button__intro--calc,
.button__intro--app {
  @include sm {
    width: 180px;
  }
}

.button {
  @include sm {
    font-size: 11px;
  }
}

//-------------------Media 375px------------------//

.button__intro--calc,
.button__intro--app {
  @include sm-1 {
    width: 338px;
  }
}

.button__intro--calc {
  @include sm-1 {
    margin-bottom: 26px;
  }
}

.button__intro--app {
  span {
    @include sm-1 {
      display: none;
    }
  }
}

.slick__arrow--prev-mob,
.slick__arrow--next-mob {
  @include md {
    top: 40%;
  }
  @include sm-1 {
    top: 38%;
  }
}

.slick__arrow--prev-mob {
  left: 82%;
}
