.button {
  width: 161px;
  height: 37px;

  font-size: 13px;
  font-family: $font-family-1;
  color: $white-text-color;

  background: $secondary-text-color;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
