.button {
  width: 161px;
  height: 37px;

  font-size: 13px;
  font-family: $font-family-1;
  color: $text-color--light;
  text-transform: uppercase;

  background: $text-color--main;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  transition: all 500ms ease;

  @include font;

  &:hover {
    color: $text-color--light;

    background: $text-color--main;
    box-shadow: inset 0 0 0 3px $text-color--light;
  }
}

.button--intro {
  width: 207px;
  height: 51px;

  background: transparent;
  border: 2px solid $white-text-color;

  &:hover {
    background: $secondary-text-color;
    border: 0;
  }
}

.button__submit {
  width: 200px;
  height: 51px;

  font-size: 15px;
  line-height: 26px;
  font-family: $font-family-1;
  text-align: center;
  color: $white-text-color;
  text-transform: uppercase;

  background: $secondary-text-color;
  border: none;
}

.button__submit--build {
  width: 213px;
  margin-left: 255px;
}
