.button {
  width: 161px;
  height: 37px;

  font-size: 13px;
  font-family: $font-family-1;
  color: $text-color--light;
  text-transform: uppercase;

  background: $text-color--main;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 5px 15px $color-shadow;
  cursor: pointer;

  transition: all 500ms ease;

  @include font;

  &:hover {
    color: $text-color--light;

    background: $text-color--main;
    box-shadow: inset 0 0 0 3px $text-color--light;
  }
}

.button__intro--calc {
  width: 207px;
  height: 51px;

  color: $text-color--light;

  background: $secondary-text-color;

  &:hover {
    background: transparent;
    border-color: $secondary-text-color;
  }
}

.button__intro--app {
  width: 207px;
  height: 51px;

  font-size: 13px;
  font-family: $font-family-1;
  color: $text-color--light;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid $text-color--light;
  cursor: pointer;

  transition: all 500ms ease;

  &:hover {
    background: $secondary-text-color;
    border: none;
  }
}

.button__submit {
  width: 200px;
  height: 51px;

  font-size: 15px;
  line-height: 26px;
  font-family: $font-family-1;
  text-align: center;
  color: $white-text-color;
  text-transform: uppercase;

  background: $secondary-text-color;
  border: none;
}

.button__submit--build {
  width: 213px;
  margin-left: 255px;
}


//-------------------Media 576px------------------//

.button__intro--calc,
.button__intro--app {
  @include sm {
    width: 180px;
  }
}


.button {
  @include sm {
    font-size: 11px;
  }
}

//-------------------Media 375px------------------//

.button__intro--calc,
.button__intro--app {
  @include sm-1 {
    width: 338px;
  }
}

.button__intro--calc {
  @include sm-1 {
    margin-bottom: 26px;
  }
}

.button__intro--app {
  span {
    @include sm-1 {
      display: none;
    }
  }
}