.nav-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1;

  display: none;
  width: 30px;
  padding: 10px 0;

  font-size: 0;
  color: transparent;

  background: none;
  border: 0;
  cursor: pointer;
}

.nav-toggle:focus {
  outline: 0;
}

.nav-toggle__item {
  position: absolute;
  top: 24px;
  right: 24px;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 3px;
  margin: auto;

  background-color: $text-color--light;

  transition: background 0.2s linear;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 3px;

  background-color: $text-color--light;

  transition: transform 0.2s linear;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
  transform: rotate(45deg) translate3d(0px, -2px, 0);
  transform-origin: left top;
}

.nav-toggle.active .nav-toggle__item:after {
  transform: rotate(-45deg) translate3d(0px, 3px, 0);
  transform-origin: left bottom;
}
