@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "FuturaDemiC";

  src: url("../../dist/assets/fonts/Futura DemiC/FuturaDemiC.woff2")
  format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "FuturaBookC";

  src: url("../../dist/assets/fonts/Futura BookC/FuturaBookC.woff2")
  format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "FuturaMediumC";

  src: url("../../dist/assets/fonts/Futura MediumC/FuturaMediumC.woff2")
  format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Proxima Nova";

  src: url("../../dist/assets/fonts/Proxima Nova/ProximaNova-Regular.woff2")
  format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Yeseva One";

  src: url("../../dist/assets/fonts/Yeseva One/yesevaone.woff2") format("woff2");
}
