@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-flex;
  display: -ms-flexbox;
  display:         flex;
}

@mixin font {
  font-style: normal;
  font-weight: normal;
}


// Small devices
@mixin sm-1 {
  @media (max-width: #{$screen-sm-max-1}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}
