//Background-color
$primary-color: #252525;

//Button-shadow
$color-shadow: rgba(227, 184, 115, 0.4);
//Color-text
$text-color--main: #e3b873;
$text-color--light: #ffffff;
$text-color--dark: #959595;
$text-color--darken: #363636;
$text-color--darkest: #181818;
$text-color--dark-transparent: rgba(255, 255, 255, 0.3);
$text-color--dark-label: rgba(54, 54, 54, 0.5);

//Fonts
$font-family-1: "FuturaDemiC", Arial, sans-serif;
$font-family-2: "FuturaBookC", Arial, sans-serif;
$font-family-3: "FuturaMediumC", Arial, sans-serif;
$font-family-4: "Proxima Nova", Arial, sans-serif;
$font-family-5: "Yeseva One", Arial, sans-serif;

// Small tablets and large smartphones (landscape view)
$screen-sm-max-1: 375px;
// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

///old
$primary-text-color: #363636;
$secondary-text-color: #e3b873;
$white-text-color: #ffffff;
$black-light-color: rgba(255, 255, 255, 0.3);
