$primary-color: #252525;
$primary-text-color: #363636;
$secondary-text-color: #e3b873;
$white-text-color: #ffffff;
$font-family-1: "FuturaDemiC", sans-serif;
$font-family-2: "FuturaBookC", sans-serif;
$font-family-3: "FuturaMediumC", sans-serif;
$font-family-4: "Proxima Nova", sans-serif;
$font-family-5: "Yeseva One", sans-serif;

// @mixin flexbox {
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -moz-flex;
//     display: -ms-flexbox;
//     display: flex;
//  }

//  .selector {
//     @include flexbox;
//  }
